---
layout: default
---

{% assign author = site.data.authors[page.author] %}

<article id="main">
  <header class="special container">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%-d %b %Y" }}{% if page.author %} •
      <a rel="author" href="{{ author.twitter }}" title="{{ author.pseudo }}">{{ author.pseudo }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
    {% for categorie in page.categories %}
      <button>
        {{ categorie }}
      </button>
    {% endfor %}
  </header>

  <section class="style4 wrapper container">
    {{ content }}
  </section>

  <footer>
    {% if page.previous %}
    <a href="{{ page.previous.url }}" class="post-prev">&larr; Article précédent</a> {% endif %}
    {% if page.next %}
    <a href="{{ page.next.url }}" class="post-next">Article suivant &rarr;</a> {% endif %}
  </footer>
</article>
